<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if logged_in? %>
    <p>Logged in as <%= current_user["name"] %></p>
    <a href="/houses/new">Post a Review</a>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button> 
    </form>
  <% else %>
    <a href="/users/signup">Sign Up</a>
    <a href="/session/new_sessions">Login</a>
  <% end %>
  
  <%= yield %>

</body>
</html>
