<h1>Post a New Review</h1>

<form action="/houses" method="post">
    <label for="">Number and Street</label>
    <input type="text" name="number_street">
    <label for="">Suburb</label>
    <input type="text" name="suburb">
    <label for="">Postcode</label>
    <input type="number" name="postcode">
    <label for="">Image URL</label>
    <input type="text" name="image_url">
    <label for="">Agent</label>
    <input type="text" name="agent">
    <label for="">Review</label>
    <input type="text" name="review">
    <button>Post Review</button>
</form>

<a href="/">Home</a>