<h1>Login</h1>
<a href="/">Home</a>

<form action="/session" method="post">
    <label for="">Email</label>
    <input type="text" name="email">
    <label for="">Password</label>
    <input type="password" name="password">
    <button>Login</button>
</form>