<h1>Sign Up</h1>

<div class="forms">
    <form action="/users" method="post">
        <label for="">Full Name</label>
        <input type="text" name="name">
        <label for="">Email</label>
        <input type="text" name="email">
        <label for="">Password</label>
        <input type="password" name="password">
        <p><button>Create Account</button></p>
    </form>
</div>