body {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: whitesmoke;
}
img {
    width: 400px;
    height: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    border: 3px solid whitesmoke;
}
#indy {
    width: 400px;
    height: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    border: 3px solid whitesmoke;
    opacity: 0.7;
}
#indy:hover {
    box-shadow: 0 0 10px 10px #983898;
    opacity: 1;
}
#box {
    position: relative;
    display: inline-block;
}
#box #addy {
    position: absolute;
    z-index: 998;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%;
    text-align: center;
    width: 80%;
}
#addy {
    color: #09f;
    background-color: whitesmoke;
    border-radius: 20px;
}
#rtadiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
#rta {
    color: #09f;
    background-color: whitesmoke;
    width: 50%;
    padding: 2%;
    margin: 5%;
    border-radius: 20px;
}
#rta:hover {
    opacity: .6;
}
button {
    color: #09f !important;
    text-transform: uppercase;
    background: #D3D3D3;
    padding: 20px;
    border: 4px solid #09f !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin: 15px;
    width: 180px;
}
button:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #6c3 !important;
    transition: all 0.3s ease 0s;
}
#linky {
    position: fixed;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    padding: 10px;
    margin: 10px;
}
#linky:before, #linky:after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	transition: all 0.3s ease;
}
#linky:before{
	top: -2.5%;
	left: -1%;
	border-top: 2px solid whitesmoke;
	border-left: 2px solid whitesmoke;	
}
#linky:after{
	bottom: -2.5%;
	right: -1%;
	border-bottom: 2px solid whitesmoke;
	border-right: 2px solid whitesmoke;
}
#linky:hover:before, #linky:hover:after{
	width: 100%;
	height: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
}
#cur_user {
    color: mistyrose;
    font-size: 10px;
    padding: 10px;
    margin: 10px;
}
label {
    display: block;
    background-color: #A9A9A9;
    color: whitesmoke;
    text-align: center;
    
}
input {
    width: 200px;
}
.forms {
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.review {
    text-align: center;
    margin: auto;
    width: 300px;
}
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #55CBD3 50%, #FF6787 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
.bg3 {
    animation-duration:5s;
}
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}
